<p id="notice"><%= notice %></p>

<h1>ベトナム語を学ぼうサイトについて</h1>

このページは日本人に向けるベトナム語を学ぼうサイトです。

<h3>対象</h3>
ベトナム語を勉強している・使っている日本人

<h3>目的</h3>
+ ベトナム語を勉強したい日本人のため「ベトナム語単語」学習をサポートする。<br>
+ 学習中に学んだフレーズを保存する。<br>
+ 自分の勉強を管理できるし、友達の勉強の工程が見える。<br>