<p id="notice"><%= notice %></p>

<p>
  <strong>Content:</strong>
  <%= @introduction.content %>
</p>

<%= link_to 'Edit', edit_introduction_path(@introduction) %> |
<%= link_to 'Back', introductions_path %>
