<h3 class="row">
  <%#= t ".all_test" %>
  すべてのテスト
</h3>
<div classs="row">
  <div class="col-md-2 table-title">
    <%#= t ".test_category_name" %>
    カテゴリ
  </div>
  <div class="col-md-2 table-title">
    <%#= t ".test_user_answers_answered" %>
    答えの数
  </div>
  <div class="col-md-2 table-title">
    <%#= t ".test_create_time" %>
    作成した日時
  </div>
  <div class="col-md-2 table-title">
    <%#= t ".test_mark" %>
    点数
  </div>
  <div class="col-md-2 table-title">
    詳しく見る
  </div>
</div>
<br /><br /><br />
<div class="test-css">
<%= render @tests %>
</div>
<%= will_paginate @tests %>
