<footer class="footer">
  <small>
    日本人のベトナム語アプリケーション
  </small>
  <nav>
    <ul>
      <li><%= link_to "ベトナム語学ぼうについて",   '#' %></li>
      <li><%= link_to "コンタクト", '#' %></li>
      <li><%= link_to "ニュース", '#' %></li>
    </ul>
  </nav>
</footer>
